set nocompatible              " be iMproved, required
filetype off                  " required
set mouse=a
set surround
let mapleader=","
nnoremap <leader>jd :action QuickJavaDoc<CR>
nnoremap <leader>nw :action NextSplitter<CR>

nnoremap <C-J> m`o<Esc>``
nnoremap <C-K> m`O<Esc>``

colorscheme iceberg
