set nocompatible              " be iMproved, required
filetype off                  " required
set mouse=a
set surround
let mapleader=","
nnoremap <leader>jd :action QuickJavaDoc<CR>
nnoremap <leader>nw :action NextSplitter<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>gi :action GotoImplementation<CR>

